@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
    font-family: 'Barett Street';
    src: url('../fonts/Barett_Street.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    height: 100vh;

    gap: 28px;
    padding-bottom: 65px;

    overflow: hidden;
}

div.main-title {
    display: flex;
    justify-content: center;
}

#title {
    text-shadow: 3px 3px 1px #000;
    font-family: 'Barett Street';
    font-weight: 400;
    font-size: 12em;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 280px;
    height: 100px;

    border: 3px solid #ffffff;
    border-radius: 10px;

    background-color: #00000096;
}

#clock > p {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    color: #ffffff;
}
