@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
    font-family: 'Barett Street';
    src: url('../fonts/Barett_Street.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 100vh;
}

div.main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.main-title{
    display: flex;
    justify-content: center;
    padding: 8px 0px 28px 0px;
}

h1.title{
    color: #ff004c;
    text-shadow: 3px 3px 1px #000;
    font-family: 'Barett Street';
    font-weight: 400;
    font-size: 15em;
}

section.clock{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 390px;
    height: 150px;

    border: 3px solid #000000;
    border-radius: 10px;

    background-color: #00000096;
}

section.clock > p {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.8em;
    color: #ffffff;
}
