@media screen and (min-width: 200px) and (max-width: 300px){
    h1.title{
        font-size: 7.5em;
    }

    section.clock > p {
        font-size: 2em;
    }

    section.clock{
        width: 200px;
        height: 100px;
    }

    div.main-title{
        padding-bottom: 18px;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px){
    h1.title{
        font-size: 10.3em;
    }

    section.clock > p {
        font-size: 2.5em;
    }

    div.main-title{
        padding-bottom: 18px;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px){
    h1.title{
        font-size: 11.5em;
    }

    section.clock > p {
        font-size: 2.5em;
    }

    div.main-title{
        padding-bottom: 18px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1024px){
    h1.title{
        font-size: 20em;
    }

    section.clock > p {
        font-size: 3.5em;
    }

    section.clock{
        width: 350px;
        height: 120px;
    }

    div.main-title{
        padding-bottom: 18px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1300px){
    h1.title{
        font-size: 14em;
    }

    section.clock > p {
        font-size: 2.5em;
    }

    section.clock{
        width: 300px;
        height: 100px;
    }

    div.main-title{
        padding-bottom: 18px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1920px){
    h1.title{
        font-size: 17em;
    }

    section.clock > p {
        font-size: 3.5em;
    }

    section.clock{
        width: 350px;
        height: 120px;
    }
}